# Node.js
.node_modules/
./node_modules/
./frontend/node_modules


/frontend/node_modules/
/frontend/.next/


# Python
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
/backend/db.sqlite3
.env
venv/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/

# Media
media/

# Misc
*.swp
*.swo

# Coverage
coverage/
*.coverage

# Django static
staticfiles/

# Jupyter
.ipynb_checkpoints/
