# Node.js
node_modules/
.next/
./frontend/next/
./frontend/node_modules
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
.env
venv/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build
build/
dist/

# Media
media/

# Misc
*.swp
*.swo

# Coverage
coverage/
*.coverage

# Django static
staticfiles/

# Jupyter
.ipynb_checkpoints/
